<div *ngIf="ads">
	<div  *ngFor="let ad of ads"  class="ad">
		<ngb-carousel >
		  <template ngbSlide *ngFor="let src of ad.image">
		    <p class="user__photo">
				<img src="{{ src }}" width="300" >
			</p>
		  </template>
		  
		</ngb-carousel>


		

		<p >Bread: {{ ad.bread }}</p>
		<p >Name: {{ ad.name }}</p>
		<p >Sex: {{ ad.sex }}<span *ngIf="ad.sexWork"> | he can work</span>
		</p>
		
		
		<p >Color: {{ ad.color }}</p>
		<p >Club: {{ ad.club }}</p>
		<p class="description">Description: {{ ad.description}}</p>
		<button type="button" class="btn btn-primary btn-sm float-xs-right" (click)="onSelect(ad)"> Edit Ad
			
		</button> 
	</div>
</div>

