<div *ngIf="animals">
	<div  *ngFor="let animal of animals"  class="animal">
		<ngb-carousel >
		  <template ngbSlide *ngFor="let src of animal.photos">
		    <p class="user__photo">
				<img src="{{ src }}" width="300" >
			</p>
		  </template>

		</ngb-carousel>

		<p >Name: {{ animal.name }}</p>
		<p >Birthday: {{ animal.birthday }}</p>
		<p >Nursery: {{ animal.nursery }}</p>
		<p >Title: {{ animal.title }}</p>
		<p >Color: {{ animal.color }}</p>
		<p >Bread: {{ animal.bread }}</p>
		<p >Club: {{ animal.club }}</p>

		<p >ReadyToCopulation: {{ animal.readyToCopulation }}
			<span *ngIf="animal.readyToCopulation"> | he can work</span>
		</p>

		<p class="description">Description: {{ animal.description}}</p>
		<button type="button" class="btn btn-primary btn-sm float-xs-right"
				(click)="onSelect(animal)"> Edit Animal
		</button>
		<button type="button" class="btn btn-danger btn-sm float-xs-right"
				(click)="onDelete(animal.id)"> Delete Animal
		</button>
	</div>
</div>


