
<nav>
	<button type="button" class="btn btn-primary btn-sm">
		<a routerLink="/home" class="button__link" routerLinkActive="active">Animals</a>
	</button>
	<button type="button" class="btn btn-primary btn-sm">
		<a routerLink="/ads" class="button__link" routerLinkActive="active">Ads</a>
	</button>

<div>
	<button type="button" class="btn btn-primary btn-sm float-xs-right">
		<a routerLink="/user" class="button__link" routerLinkActive="active">Edit user</a>
	</button>
	<button type="button" class="btn btn-primary btn-sm float-xs-right">
		<a routerLink="/animal" class="button__link" routerLinkActive="active">Add animal</a>
	</button>
	<button type="button" class="btn btn-primary btn-sm float-xs-right">
		<a routerLink="/ad" class="button__link" routerLinkActive="active">Add ad</a>
	</button> 
</div>

</nav>
<router-outlet></router-outlet>



