<nav>
	<div>
		<button type="button" class="button">
			<a routerLink="/home" class="" routerLinkActive="active">Animals</a>
		</button>
		<button type="button" class="button">
			<a routerLink="/ads" class="" routerLinkActive="active">Ads</a>
		</button>
	</div>
	<div>
		<button type="button" class="button ">
			<a routerLink="/user" class="" routerLinkActive="active">Edit user</a>
		</button>
		<button type="button" class="button ">
			<a routerLink="/animal" class="" routerLinkActive="active">Add animal</a>
		</button>
		<button type="button" class="button ">
			<a routerLink="/ad" class="" routerLinkActive="active">Add ad</a>
		</button>
	</div>
</nav>

<router-outlet></router-outlet>



